/*General Stuff*/

html,
body {
    background-color: #121212;
    overflow-x: hidden;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Playfair Display', Times, serif;
    color: white;
    font-size: 3em;

}

h2 {
    font-family: 'Playfair Display', Times, serif;
    font-size: 1.5em;
    color: white;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: white;
}

.yellow_highlight {
    color: #FFE46E;
}

a {
    text-decoration: none;
}

/*Navigation-Menu*/

#menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0px 20px 0px 0px;
    padding: 20px;
    width: 100%;
    background-color: #121212;
}

#menu > a {
    padding: 10px;

    text-align: center;
    color: white;
}

#menu > a:hover {
    cursor: pointer;

    color: #FFE46E;
}

/*SVGs/Icons*/

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #FFE46E;
}

.st0_ {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #FFFFFF;
    stroke: #FFE46E;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.st4 {
    fill: none;
}

.st5 {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.st6 {
    font-size: 14px;
}

.st7 {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

svg {
    width: 220px;
    height: auto;
}

/*Header*/
.header {
    background-image: url(../img/bw-backdrop_1.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

/*03. About Me Page*/

/*Flex-Box*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*Left Side*/

.flex_left {
    flex: 50%;
}

.image {
    width: 70%;
    padding: 10px;
    margin: 50px 20px 50px 100px;
    border: 2px solid white;
}

/*Right Side*/

.flex_right {
    flex: 50%;
}

.about {
    margin-right: 100px;
}

/*Education/Work Block*/

.education > h2 {
    margin-left: 100px;
    margin-top: 20px;
}

#edugraph {
    margin-left: 20px;
    width: 100%;
}

/*04. Project Page*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.gallery_column {
    flex: 30%;
    max-width: 50%;
    padding: 0 5px;
}

.gallery_column img {
    margin-top: 8px;
    width: 100%;
}

.gallery_img:hover {
    cursor: pointer;
    opacity: 0.6;
}

/*Footer*/
.footer {
    text-align: center;
    margin: 10px;
}
