/*General Stuff*/

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;

    overflow: hidden;
}

h1 {
    font-family: 'Playfair Display', Times, serif;
    color: white;
    font-size: 3em;

    overflow: hidden;
}

p {
    font-size: 1.2em;
    color: white;
}

/*Backgrounds*/

.bg {
    height: 100%;
    width: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    z-index: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*Navigation-Menu*/

#menu {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 20px;
}

#menu > a {
    padding: 10px;

    text-align: center;
    text-decoration: none;
    color: white;
}

#menu > a:hover {
    cursor: pointer;
}

/*01. Welcome Page*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome-textbox {
    position: relative;

    margin-top: 5%;
    width: 50%;
    padding: 200px 220px;

    border: 3px solid white;
    text-align: center;


}

/*02. Contact Me Page*/

.contact-textbox {
    position: relative;

    margin-top: 5%;
    padding: 150px 100px 50px 100px;
    width: 50%;
    height: 50%;

    background-color: black;
    opacity: 0.95;

    border: 3px solid white;

}

/*Icons*/

.st0 {
    fill: #FFFFFF;
}

.st1 {
    fill: #FFE46E;
}

svg {
    width: 120px;
    height: auto;
}